<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Slide for Reddit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
				<key>dateExpires</key>
				<string>6/27/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DTCoreText.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DTFoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HTMLSpecialCharacters.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LicensesViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MKColorPicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTColorDistance.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MiniKeychain.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionAnimator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MotionInterchange.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RLBAlertsPickers.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCAlertView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SubtleVolume.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftLinkPreview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TGPControls.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YoutubePlayer_in_WKWebView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>reddift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FTT89576VQ.ccrama.me.redditslide.bundledOpen-in-Slide</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>FTT89576VQ</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>FTT89576VQ.ccrama.me.redditslide.bundledOpen-in-Slide</string>
						</array>
					</dict>
					<key>name</key>
					<string>Open in Slide.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>46368775-2db3-45b0-aab5-0f03997f4a04</string>
						<key>name</key>
						<string>match AppStore *</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FTT89576VQ.ccrama.me.redditslide.bundledwidgets</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>FTT89576VQ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ccrama.me.redditslide.prefs</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Slide Widgets.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0c0a9ffb-535b-4f4e-9136-acb524699ee0</string>
						<key>name</key>
						<string>match AppStore ccrama.me.redditslide.bundledwidgets</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FTT89576VQ.ccrama.me.redditslide.bundledwidgetconfigintent</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>FTT89576VQ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ccrama.me.redditslide.prefs</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WidgetConfigIntent.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>9450ebd2-5d4f-4165-ba5c-3f0198e2c69a</string>
						<key>name</key>
						<string>match AppStore ccrama.me.redditslide.bundledwidgetconfigintent</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
						<key>dateExpires</key>
						<string>6/27/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>bitcode</key>
							<true/>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>848B6F2D14D032BBC6F20B49EB1A87A2DFDE7368</string>
								<key>dateExpires</key>
								<string>6/27/21</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>FTT89576VQ.ccrama.me.redditslide.watchkitapp.watchkitextension</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>FTT89576VQ</string>
								<key>get-task-allow</key>
								<false/>
								<key>keychain-access-groups</key>
								<array>
									<string>FTT89576VQ.ccrama.me.redditslide.watchkitapp.watchkitextension</string>
								</array>
							</dict>
							<key>name</key>
							<string>Slide for Apple Watch Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>46368775-2db3-45b0-aab5-0f03997f4a04</string>
								<key>name</key>
								<string>match AppStore *</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>FTT89576VQ</string>
								<key>name</key>
								<string>Carlos Crane</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FTT89576VQ.ccrama.me.redditslide.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>FTT89576VQ</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>FTT89576VQ.ccrama.me.redditslide.watchkitapp</string>
						</array>
					</dict>
					<key>name</key>
					<string>Slide for Apple Watch.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>46368775-2db3-45b0-aab5-0f03997f4a04</string>
						<key>name</key>
						<string>match AppStore *</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FTT89576VQ</string>
						<key>name</key>
						<string>Carlos Crane</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FTT89576VQ.ccrama.me.redditslide</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.ccrama.me.redditslide</string>
					<string>iCloud.ccrama.me.redditslide-debug</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>FTT89576VQ</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>FTT89576VQ.ccrama.me.redditslide</string>
				<key>com.apple.developer.user-fonts</key>
				<array>
					<string>app-usage</string>
				</array>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.ccrama.me.redditslide.prefs</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Slide for Reddit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1d299607-d45e-4709-8924-ba65183c7b6a</string>
				<key>name</key>
				<string>match AppStore ccrama.me.redditslide</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FTT89576VQ</string>
				<key>name</key>
				<string>Carlos Crane</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
