<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(USR_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cottoncandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_cottoncandy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ghost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_ghost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lightblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_lightblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_mint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>outrun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_outrun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>retroapple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_retroapple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>stars</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_stars</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tronblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_tronblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tronteal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_tronteal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cottoncandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_cottoncandy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ghost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_ghost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lightblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_lightblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_mint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>outrun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_outrun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>retroapple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_retroapple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>stars</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_stars</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tronblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_tronblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tronteal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_tronteal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ccrama.me.Slide-for-Reddit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>slide</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>177</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>googlechromes</string>
		<string>youtube</string>
		<string>firefox</string>
		<string>opera-http</string>
		<string>firefox-focus</string>
		<string>firefox-klar</string>
		<string>ddgQuickLink</string>
		<string>brave</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Slide uses the camera in order to attach images to comments and submissions</string>
	<key>NSFaceIDUsageDescription</key>
	<string>FaceID is used for biometric unlock</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Slide uses this permission to save photos and videos to your camera roll</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Slide uses photos in order to attach images to comments and submissions</string>
	<key>UIAppFonts</key>
	<array>
		<string>googleicon.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>Roboto-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>USR_DOMAIN</key>
	<string>${USR_DOMAIN}</string>
</dict>
</plist>
