<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   readlater.plist
   Slide for Reddit

   Created by Carlos Crane on 9/29/18.
   Copyright (c) 2018 Haptic Apps. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
