<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   subcolors.plist
   Slide for Reddit

   Created by Carlos Crane on 7/26/20.
   Copyright (c) 2020 Haptic Apps. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
